.menu ul {
    padding-left: 20px;
    list-style-type: none;
    white-space: nowrap;
}
.menu ul li {
    padding-top: 2px;
    padding-bottom: 2px;
}
span.menu-item {
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
    display: block;
}
span.menu-item.page {
    background-image: url('img/page.png');
}
span.menu-item.folder-close {
    background-image: url('img/folder-close.png');
}
span.menu-item.folder-open {
    background-image: url('img/folder-open.png');
}
